@import "./typography.css";

* {
  font-family: "Lufga", sans-serif;
}

body {
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .nav {
    flex-wrap: nowrap !important;
  }
}

.nav a {
  color: #8f90a6 !important;
  font-weight: 600;
  margin: 0px 15px 0px 15px;
  padding: 8px;
  text-decoration: none;
  font: 16px;
  transition: 0.5s;
  text-transform: uppercase;
}

.nav a:hover {
  color: #1daeef !important;
  transition: 0.5s;
}

header {
  margin: auto;
}

h1 {
  font-size: 50px !important;
}

@media only screen and (max-width: 500px) {
  .desktop {
    display: none !important;
  }
  .navbar-collapse a {
    display: block;
  }
  .navbar-collapse .cta {
    text-align: center;
  }
  .cta-btn-wrapper img {
    padding-top: 50px;
  }
  #cta h2,
  #cta p {
    text-align: center;
  }
  #cta .col-sm-12 {
    text-align: center;
  }
}

#hero {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#hero .house-img {
  float: right;
}

#hero .col-6 {
  position: relative;
  background-color: #000;
}

#hero .container-fluid .row > * {
  padding: 0px !important;
}

.row .intro {
  font-size: 20px;
  margin-bottom: 25px;
}

.logo {
  padding: 15px 0px;
}

.btn a {
  color: #fff;
  text-decoration: none;
  padding: 15px 5px;
}

.btn a:hover {
  color: #fff;
}

.btn-primary {
  background-color: #1daeef !important;
  border-color: #1daeef !important;
}

.navbar {
  display: flex;
}

.nav {
  width: 100%;
  text-align: right;
}

.nav .cta {
  color: #1daeef !important;
  border: 2px solid #1daeef;
  padding: 5px 15px !important;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}

.nav .cta:hover {
  color: #fff !important;
  border: 2px solid #1daeef;
  padding: 5px 15px !important;
  background-color: #1daeef;
  border-radius: 10px;
  transition: 1s;
}

#rennid {
  transition: 1s;
  background-image: url("../images/katusepesu.jpg");
  background-position: center center;
  background-size: cover;
}

#rennid a {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0px;
  transition: 1s;
}

#rennid h2 {
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}
#rennid:hover a {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  color: #1daeef;
  text-decoration: none;
  padding: 0px;
}

#service .banner-area {
  background-image: url("../images/fassaadipesu tume.jpg");
  background-position: center center;
  background-size: cover;
  align-items: center;
}
#service h1 {
  color: #fff;
  align-items: center;
}

#service_two .banner-area {
  background-image: url("../images/katusepesu tume.jpg");
  background-position: center center;
  background-size: cover;
  align-items: center;
}
#service_two h1 {
  color: #fff;
  align-items: center;
}

#contact_us .banner-area {
  background-image: url("../images/fassaadipesu_hind_tume.jpg");
  background-position: center center;
  background-size: cover;
  align-items: center;
}

#contact_us h1 {
  color: #fff;
  align-items: center;
}

#fassaadipesu a {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0px;
  transition: 1s;
}

#fassaadipesu h2 {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}
#fassaadipesu:hover a {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  color: #1daeef;
  text-decoration: none;
  padding: 0px;
}

#about h2 {
  font-size: 3rem;
}

#about p {
  font-size: 16px;
}

@media only screen and (max-width: 500px) {
  #about h2 {
    font-size: 2rem;
  }
}

#about .about-us-row {
  background-image: url("../images/Group.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

#cta {
  background: linear-gradient(91.57deg, #1daeef 33.99%, #1979af 98.67%);
}
#cta .cta-btn-wrapper {
  height: 100%;
  margin: auto;
}

#cta .btn-info {
  border-color: #fff;
  background-color: #fff;
  color: #1daeef;
}

#cta a {
  text-decoration: none;
  color: #1daeef;
  font-weight: 600;
}

#cta h2 {
  color: #fff;
  text-decoration: underline;
  text-shadow: 5px 5px 25px rgba(56, 56, 56, 0.411);
}

#cta p {
  color: #fff;
}

#cta .cta-btn-wrapper img {
  margin: auto;
}
.bg-overlay {
  background-color: #000;
}

.hero-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text-wrapper {
  position: absolute;
}

.hero-text p {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  text-shadow: 5px 5px 25px #000;
  margin-bottom: 0px;
}

.hero-text .sub {
  text-align: center;
  font-size: 1rem;
  color: #fff;
  text-shadow: 5px 5px 25px #000;
}

@media only screen and (max-width: 500px) {
  .hero-text p {
    font-size: 2rem;
  }
}

.hero-text .gatsby-image-wrapper {
  opacity: 0.8;
  transition: 0.5s;
}
.hero-text .gatsby-image-wrapper:hover {
  opacity: 1;
  transition: 1s;
}

form p {
  margin-top: 15px;
}

label,
input,
textarea {
  width: 100%;
}

.form-group {
  margin-top: 25px;
}

.form-group label {
  margin-bottom: 5px;
}

.success {
  background-color: rgba(0, 167, 111, 0.685);
  color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
}

/* Banner are styles */
.banner-area {
  min-height: 250px;
  max-height: 250px;
  width: 100%;
  background-color: grey;
}

footer .signature {
  text-align: right;
}

footer .signature a {
  font-size: 14px;
  text-align: right;
  color: #000;
  text-decoration: none;
}
